##  Python Operators

The operator can be defined as a symbol which is responsible for a particular operation between two operands.
Operators are the pillars of a program on which the logic is built in a particular programming language. Python
provides a variety of operators described as follows.
- Arithmetic operators
- Comparison operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

### Arithmetic Operators

In [1]:
a = 5
b = 10
print(a+b)  # Addition
print(a-b)  # Subtraction
print(a/b)  # Divide
print(a*b)  # Multiplication
print(a%b)  # Reminder
print(a**b) # Exponent
print(a//b) # Floor division

15
-5
0.5
50
5
9765625
0

### Comparison Operators

![Python logo]()

In [2]:
a = 14
b = 7
print(a==b)  # Equals  
print(a!=b)  # Not Equals 
print(a<=b)  # Less than or equal
print(a>=b)  # Greater than or equal
print(a>b)   # Greater than
print(a<b)   # Less than

False
True
False
True
True
False

### Assignment Operators

In [3]:
 x = 100
y = 25

# Printing the value of y (assignment)
print("Value of y:", y)

# Adding y to x and printing the result
x += y
print("After adding y to x:", x)

# Subtracting y from x and printing the result
x -= y
print("After subtracting y from x:", x)

# Multiplying x and y and printing the result
print("Multiplication of x and y:", x * y)

# Finding the remainder of x divided by y and printing the result
print("Remainder of x divided by y:", x % y)

# Dividing x by y and printing the result
x /= y
print("After dividing x by y:", x)

# Calculating x raised to the power y and printing the result
x = 100
x **= y
print("x raised to the power y:", x)

# Floor division of x by y and printing the result
x = 100
x //= y
print("Floor division of x by y:", x)

Value of y: 25
After adding y to x: 125
After subtracting y from x: 100
Multiplication of x and y: 2500
Remainder of x divided by y: 0
After dividing x by y: 4.0
x raised to the power y: 100000000000000000000000000000000000000000000000000
Floor division of x by y: 4

### Logical Operators

In [4]:
# Example using the 'and' operator
x = 5
y = 10
z = 15

# Check if x is greater than 0 and y is greater than 0
if x > 0 and y > 0:
    print("Both x and y are positive.")

# Check if x is greater than 0 and y is greater than 0 and z is greater than 0
if x > 0 and y > 0 and z > 0:
    print("All three variables are positive.")

Both x and y are positive.
All three variables are positive.

In [5]:
# Example using the 'or' operator
x = 5
y = -3

# Check if at least one of x and y is positive
if x > 0 or y > 0:
    print("At least one of x and y is positive.")

# Another example
if x < 0 or y < 0:
    print("At least one of x and y is negative.")

At least one of x and y is positive.
At least one of x and y is negative.

In [6]:
# Example using the 'not' operator
x = 5

# Check if x is not greater than 10
if not x > 10:
    print("x is not greater than 10.")

# Another example
y = False
if not y:
    print("y is False.")

x is not greater than 10.
y is False.

### Bitwise Operators

In [7]:
# Example using the '&' operator (AND)
x = 5  # 101 in binary
y = 3  # 011 in binary

result = x & y  # Bitwise AND of x and y
print("Bitwise AND of", x, "and", y, "is:", result)  # Output: 1 (001 in binary)

Bitwise AND of 5 and 3 is: 1

In [8]:
# Example using the '|' operator (OR)
x = 5  # 101 in binary
y = 3  # 011 in binary

result = x | y  # Bitwise OR of x and y
print("Bitwise OR of", x, "and", y, "is:", result)  # Output: 7 (111 in binary)

Bitwise OR of 5 and 3 is: 7

In [9]:
# Example using the '^' operator (XOR)
x = 5  # 101 in binary
y = 3  # 011 in binary

result = x ^ y  # Bitwise XOR of x and y
print("Bitwise XOR of", x, "and", y, "is:", result)  # Output: 6 (110 in binary)

Bitwise XOR of 5 and 3 is: 6

In [10]:
# Example using the '~' operator (NOT)
x = 5  # 101 in binary

result = ~x  # Bitwise NOT of x
print("Bitwise NOT of", x, "is:", result)  # Output: -6 (Complement of 101 in binary)

Bitwise NOT of 5 is: -6

In [11]:
# Example using the '<<' operator (left shift)
x = 5  # 101 in binary

result = x << 1  # Left shift x by 1 position
print("Left shift of", x, "by 1 position is:", result)  # Output: 10 (1010 in binary)

Left shift of 5 by 1 position is: 10

In [12]:
# Example using the '>>' operator (right shift)
x = 5  # 101 in binary

result = x >> 1  # Right shift x by 1 position
print("Right shift of", x, "by 1 position is:", result)  # Output: 2 (10 in binary)

Right shift of 5 by 1 position is: 2

### Membership Operators

In [13]:
# Example using the 'in' operator
my_list = [1, 2, 3, 4, 5]

# Check if 3 is present in the list
if 3 in my_list:
    print("3 is present in the list.")

# Another example with strings
my_string = "Hello, world!"

# Check if 'o' is present in the string
if 'o' in my_string:
    print("'o' is present in the string.")

3 is present in the list.
'o' is present in the string.

In [14]:
# Example using the 'not in' operator
my_list = [1, 2, 3, 4, 5]

# Check if 6 is not present in the list
if 6 not in my_list:
    print("6 is not present in the list.")

# Another example with strings
my_string = "Hello, world!"

# Check if 'z' is not present in the string
if 'z' not in my_string:
    print("'z' is not present in the string.")

6 is not present in the list.
'z' is not present in the string.

### Identity Operators

In [15]:
# Example using the 'is' operator
x = [1, 2, 3]
y = x  # y refers to the same list object as x

# Check if x and y refer to the same object
if x is y:
    print("x and y refer to the same object.")

x and y refer to the same object.

In [16]:
# Example using the 'is not' operator
x = [1, 2, 3]
y = [1, 2, 3]  # y refers to a different list object than x

# Check if x and y do not refer to the same object
if x is not y:
    print("x and y do not refer to the same object.")

x and y do not refer to the same object.

In [2]:
print("-------"*5,'THE END',"-------"*5)

----------------------------------- THE END -----------------------------------

Author: [Moguloju_Sai](https://linktr.ee/Moguloju_Sai)