# Loops

![Python logo]()

- The flow of the programs written in any programming language is sequential by default. Sometimes
  we may need to alter the flow of the program. The execution of a specific code may need to be
  repeated several numbers of times.
- For this purpose, The programming languages provide various types of loops which are capable of
  repeating some specific code several numbers of times. Consider the following diagram to understand
  the working of a loop statement.

### Python for loop
- The for loop in Python is used to iterate the statements or a part of the program several
  times.
- It is frequently used to traverse the data structures like list, tuple, or dictionary. i.e it is useful
  to iterate over the elements of a sequence or to execute a group of statements repeatedly
  depending upon the number of elements in the sequence.

### Nested for loop in python
- Python allows to write one loops inside another loop. The inner loop is executed n number of times for
  each iteration of the outer loop. We can write a ‘for loop’ inside a ‘while loop’ or vice-versa or a ‘for
  loop’ inside another ‘for loop’ or ‘while loop’ inside another ‘while loop’. Such loops are called as
  ***‘nested loops’***.

### Using ‘else suite’ with for loop
- Unlike other languages like C, C++, or Java, python allows us to use the else statement with
  the for loop which can be executed only when all the iterations are exhausted. Here, we must
  notice that if the loop contains any of the break statement then the else statement will not be
  executed.
- This else suite is useful when we write programs where searching for an element is done is in
  a sequence. When the element is not found, we can indicate that in the else suite easily.

### Python while loop
- The while loop is also known as a pre-tested loop. In general, a while loop allows a part of the
  code to be executed as long as the given condition is true.
- It can be viewed as a repeating if statement. The while loop is mostly used in the case where
  the number of iterations is not known in advance.

### Infinite while loop
- If the condition given in the while loop never becomes false then the while loop will never
  terminate and result into the infinite while loop.
- Any non-zero value in the while loop indicates an always-true condition whereas 0 indicates
  the always-false condition. This type of approach is useful if we want our program to run
  continuously in the loop without any disturbance.
- Infinite loops are drawbacks in a program because when the user is caught in an infinite loop,
  he/she cannot understand how to come out of the loop. So, it is always recommended to avoid
  infinite loops in any program.

#### Examples:

In [1]:
# Example of a for loop iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Example of a for loop iterating over a range of numbers
for i in range(5):
    print(i)

apple
banana
cherry
0
1
2
3
4

In [2]:
# Example of a while loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [3]:
# Example of using break statement in a loop
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [4]:
# Example of using continue statement in a loop
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [5]:
# Example of using else statement in a loop
for i in range(5):
    print(i)
else:
    print("Loop finished normally.")

0
1
2
3
4
Loop finished normally.

In [6]:
# Example of nested loops
for i in range(3):
    for j in range(2):
        print(f"({i}, {j})")

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)

In [7]:
# Example of looping through a dictionary
person = {"name": "John", "age": 30, "city": "New York"}

# Loop through key-value pairs
for key, value in person.items():
    print(f"{key}: {value}")

name: John
age: 30
city: New York

In [8]:
# Example of looping with index using enumerate()
fruits = ["apple", "banana", "cherry"]

# Loop through elements with their index
for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry

In [9]:
# Example of looping over a sequence in reverse
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [10]:
# Example of looping over multiple sequences using zip()
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

# Loop through names and ages simultaneously
for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

In [11]:
# Example of looping with a specified step size
for i in range(0, 10, 2):  # Start from 0, end at 10 (exclusive), step size of 2
    print(i)

0
2
4
6
8

In [12]:
# Example of looping until a condition is met
import random

while True:
    num = random.randint(1, 10)
    print("Generated number:", num)
    if num == 7:
        print("Lucky number 7!")
        break  # Exit the loop when the condition is met

Generated number: 10
Generated number: 9
Generated number: 2
Generated number: 1
Generated number: 7
Lucky number 7!

In [13]:
# Example of looping with an else block
for i in range(5):
    print(i)
else:
    print("Loop completed successfully.")

0
1
2
3
4
Loop completed successfully.

In [14]:
# Example of looping through a string in reverse
string = "hello"

for char in reversed(string):
    print(char)

o
l
l
e
h

In [15]:
# Example of looping with a condition based on the loop variable
for i in range(10):
    if i % 2 == 0:
        continue  # Skip even numbers
    print(i)

1
3
5
7
9

In [16]:
# Example of looping over a list of lists (nested lists)
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for element in row:
        print(element, end=" ")
    print()  # Print a newline after each row

1 2 3
4 5 6
7 8 9

In [17]:
# Example of looping with a condition using a while loop
num = 1
while num <= 10:
    print(num)
    num += 2  # Increment by 2 for odd numbers

1
3
5
7
9

In [18]:
# Example of looping over a sequence and modifying elements
numbers = [1, 2, 3, 4, 5]

# Double each element in the list
for i in range(len(numbers)):
    numbers[i] *= 2

print("Modified list:", numbers)

Modified list: [2, 4, 6, 8, 10]

In [19]:
# Example of looping over a range in reverse with a specified step size
for i in range(10, 0, -2):  # Start from 10, end at 0 (exclusive), step size of -2
    print(i)

10
8
6
4
2

In [20]:
# Example of looping through a dictionary's keys
person = {"name": "Alice", "age": 30, "city": "New York"}

for key in person.keys():
    print(key)

name
age
city

In [21]:
# Example of looping through a dictionary's values
person = {"name": "Alice", "age": 30, "city": "New York"}

for value in person.values():
    print(value)

Alice
30
New York

In [22]:
# Example of looping through a dictionary's key-value pairs
person = {"name": "Alice", "age": 30, "city": "New York"}

for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 30
city: New York

In [23]:
# Example of looping through a string and its indices
word = "hello"

for index, char in enumerate(word):
    print(f"Character at index {index}: {char}")

Character at index 0: h
Character at index 1: e
Character at index 2: l
Character at index 3: l
Character at index 4: o

In [24]:
# Example of looping through a list in chunks
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

for i in range(0, len(my_list), chunk_size):
    chunk = my_list[i:i+chunk_size]
    print("Chunk:", chunk)

Chunk: [1, 2, 3]
Chunk: [4, 5, 6]
Chunk: [7, 8, 9]
Chunk: [10]

In [25]:
# Example of using a while loop for user input
while True:
    age = input("Enter your age: ")
    if age.isdigit() and int(age) >= 18:
        print("You are eligible.")
        break
    else:
        print("You are not eligible. Please enter a valid age.")

Enter your age: 67
You are eligible.

In [26]:
# Example of looping through a list of tuples
students = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]

for name, age in students:
    print(f"{name} is {age} years old.")

Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

In [27]:
# Example of looping over a string and counting occurrences of a specific character
word = "banana"
count = 0

for char in word:
    if char == "a":
        count += 1

print(f"The character 'a' appears {count} times in the word.")

The character 'a' appears 3 times in the word.

In [28]:
# Example of looping through a list and breaking the loop when a condition is met
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
    if num > 5:
        break
    print(num)

1
2
3
4
5

In [1]:
print("------"*5,'THE END',"------"*5)

------------------------------ THE END ------------------------------

Author: [Moguloju_Sai](https://linktr.ee/Moguloju_Sai)