## String

![Python logo]()

Any sequence of characters within either single quotes or double quotes is considered
as a String.
```python
x = "Moguloju Sai"
x = 'Moguloju Sai'
```
***Note:*** : In most of other languges like C, C++,Java, a single character with in single quotes is
treated as char data type value. But in Python we are not having char data type. Hence it is
treated as String only

```python
x='''Moguloju
sai
how are you'''
```

#### How to access characters of a String:
We can access characters of a string by using the following ways.
  1. By using index
  2. By using slice operator
- ***1. By using index:***
- Python supports both +ve and -ve index.
- +ve index means left to right(Forward direction)
- -ve index means right to left(Backward direction)

In [1]:
x = "Moguloju Sai"

In [2]:
x[0]

'M'

In [3]:
x[4]

'l'

In [5]:
x[-1]

'i'

In [6]:
x[10]

'a'

Note: If we are trying to access characters of a string with out of range index then we will get
error saying : IndexError

In [10]:
x=input("Enter Some String: ")
i=0
for y in x:
    print("The character present at +ve index {} and at -ve index {} is {}".format(i,i-len(x),y))
    i=i+1

Enter Some String: Moguloju Sai
The character present at +ve index 0 and at -ve index -12 is M
The character present at +ve index 1 and at -ve index -11 is o
The character present at +ve index 2 and at -ve index -10 is g
The character present at +ve index 3 and at -ve index -9 is u
The character present at +ve index 4 and at -ve index -8 is l
The character present at +ve index 5 and at -ve index -7 is o
The character present at +ve index 6 and at -ve index -6 is j
The character present at +ve index 7 and at -ve index -5 is u
The character present at +ve index 8 and at -ve index -4 is
The character present at +ve index 9 and at -ve index -3 is S
The character present at +ve index 10 and at -ve index -2 is a
The character present at +ve index 11 and at -ve index -1 is i

#### 2. Accessing characters by using slice operator:
- Syntax: s[beginindex:endindex:step]
- ***beginindex:*** From where we have to consider slice(substring)
- ***endindex:*** We have to terminate the slice(substring) at endindex-1
- ***step:*** incremented value
- ***Note:*** If we are not specifying begin index then it will consider      from beginning of the string.
- If we are not specifying end index then it will consider up to end of the string
The default value for step is 1

In [11]:
s = "Learning Python is very very easy!!!"

In [12]:
s[1:7:1]

'earnin'

In [13]:
s[1:7]

'earnin'

In [14]:
s[1:7:2]

'eri'

In [15]:
s[:7]

'Learnin'

In [16]:
s[7:]

'g Python is very very easy!!!'

In [17]:
s[::]

'Learning Python is very very easy!!!'

In [18]:
s[:]

'Learning Python is very very easy!!!'

In [19]:
s[::-1]

'!!!ysae yrev yrev si nohtyP gninraeL'

#### Behaviour of slice operator:
s[begin:end:step]
- ***step value can be either +ve or –ve***
- ***if +ve*** then it should be ***forward direction***(left to right) and   we have to consider begin to ***end-1***
- ***if -ve*** then it should be ***backward direction***(right to left)     and we have to consider begin to ***end+1***
#### # Note:
- In the backward direction ***if end value is -1*** then result is always empty.
- In the forward direction ***if end value is 0*** then result is always empty.

### Mathematical Operators for String:
We can apply the following mathematical operators for Strings.
1. + operator for concatenation
2. * operator for repetition
- print("Sai"+"M")......................SaiM
- print("Sai"*2)........SaiSai
##### Note:
1. To use + operator for Strings, compulsory both arguments should be str type
2. To use * operator for Strings, compulsory one argument should be str and other argument should be int

#### len() function:
We can use len() function to find the number of characters present in the string.

In [22]:
a = 'Moguloju Sai'
print(len(x))

12

####  Checking Membership:
We can check whether the character or string is the member of another string or not
by using in and not in operators

In [23]:
a = 'Moguloju Sai'
print('g' in a)
print('z' in a)

True
False

#### Comparison of Strings:
- We can use comparison operators (<,<=,>,>=) and equality operators(==,!=)   for strings.
- Comparison will be performed ***based on alphabetical order***

In [24]:
s1 = input("Enter first string:")
s2 = input("Enetr second String:")
if s1 == s2:
    print("Both strings are equal")
elif s1<s2:
    print("First String is less than Second String")
else:
    print("First String is greater than Second String")

Enter first string:Moguloju
Enetr second String:Sai
First String is less than Second String

#### Removing spaces from the string:
We can use the following 3 methods
1. rstrip()===>To remove spaces at right hand side
2. lstrip()===>To remove spaces at left hand side
3. strip() ==>To remove spaces both sides

#### Finding Substrings:
- We can use the following 4 methods
- For forward direction:
- find()
- index()
- For backward direction:
- rfind()
- rindex()

#### 1. find():
***Syntax:s.find(substring)***
- Returns index of first occurrence of the given substring. If it is not available then we will get -1

In [27]:
s = "Learning Python is very very easy"

In [28]:
print(s.find("Python"))

9

In [29]:
print(s.find("Java"))

-1

In [30]:
print(s.find("r"))

3

In [31]:
print(s.rfind("r"))

26

By default find() method can search total string. We can also specify the boundaries to
search.

#### s.find(substring,bEgin,end)
It will always search from bEgin index to end-1 index

In [32]:
s = "Moguloju Shashikala"

In [33]:
print(s.find('a'))

11

In [34]:
print(s.find('a',7,15))

11

In [35]:
print(s.find('z',7,15))

-1

#### 2. index() method:
index() method is exactly same as find() method except that if the specified substring is not
available then we will get ValueError.

In [36]:
s = "Learning Python is very very easy"

In [37]:
print(s.index("Python"))

9

In [38]:
print(s.index("r"))

3

In [40]:
print(s.rindex('r'))

26

In [41]:
print(s.index("Java"))

ValueError: substring not found

#### Counting substring in the given String:
We can find the number of occurrences of substring present in the given string by using
count() method.
1. s.count(substring) ==> It will search through out the string
2. s.count(substring, bEgin, end) ===> It will search from bEgin index to end-1 index

In [42]:
s = "abcabcabcabcadba"

In [43]:
print(s.count('a'))

6

In [44]:
print(s.count('ab'))

4

In [45]:
print(s.count('a',3,7))

2

#### Replacing a string with another string:
***Syntax: s.replace(oldstring,newstring)***
- inside s, every occurrence of oldstring will be replaced with newstring.

In [46]:
s = "Learning Python is very difficult"

In [47]:
s1=s.replace("difficult","easy")
print(s1)

Learning Python is very easy

In [48]:
s = "ababababababbaabababbaab"
s1=s.replace("a","b")
print(s1)

bbbbbbbbbbbbbbbbbbbbbbbb

#### String objects are immutable then how we can change the content by using replace() method.
- Once we creates string object, we cannot change the content.This non  changeable behaviour is nothing but immutability. If we are trying to change the content by using any method, then with those changes a new object will be created and changes won't be happend in existing object.
- Hence with replace() method also a new object got created but existing object won't be changed.

In [50]:
s = "ababa"
s1=s.replace("a","b")
print(s,"is available at :", id(s))
print(s1,"is available at :",id(s1))

ababa is available at : 2370875074672
bbbbb is available at : 2370875065968

In the above example, original object is available and we can see new object which was
created because of replace() method.

### Splitting of Strings:
-  We can split the given string according to specified seperator by using split() method.
l=s.split(seperator)
-  The default seperator is space. The return type ofsplit() method is List

In [51]:
s = "Welcome to Python course"
l=s.split()
for i in l:
    print(i)

Welcome
to
Python
course

In [52]:
s = "10-06-2003"
l = s.split('-')
for i in l:
    print(i)

10
06
2003

###  Joining of Strings:
- We can join a group of strings(list or tuple or set) wrt the given seperator.
s=seperator.join(group of strings)

In [55]:
s = ("Welcome", "to", "Python", "course")
l="$".join(s)
print(l)

Welcome$to$Python$course

In [56]:
s = ("Welcome", "to", "Python", "course")
l=":".join(s)
print(l)

Welcome:to:Python:course

### Changing case of a String:
We can change case of a string by using the following 4 methods.
1. upper()===>To convert all characters to upper case
2. lower() ===>To convert all characters to lower case
3. swapcase()===>converts all lower case characters to upper case and all upper case characters to lower case
4. title() ===>To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.
5. capitalize() ==>Only first character will be converted to upper case and all remaining characters can be converted to lower case

In [57]:
s = "Learning Python is very easy"

In [58]:
print(s.upper())

LEARNING PYTHON IS VERY EASY

In [59]:
print(s.lower())

learning python is very easy

In [60]:
print(s.swapcase())

lEARNING pYTHON IS VERY EASY

In [61]:
print(s.title())

Learning Python Is Very Easy

In [62]:
print(s.capitalize())

Learning python is very easy

### Changing case of a String:
We can change case of a string by using the following 4 methods.
1. upper()===>To convert all characters to upper case
2. lower() ===>To convert all characters to lower case
3. swapcase()===>converts all lower case characters to upper case and all upper case characters to lower case
4. title() ===>To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.
5. capitalize() ==>Only first character will be converted to upper case and all remaining characters can be converted to lower case

In [63]:
s = "Learning Python is very easy"

In [64]:
print(s.startswith("learning"))

False

In [65]:
print(s.endswith('learning'))

False

In [66]:
print(s.endswith('easy'))

True

### Changing case of a String:
We can change case of a string by using the following 4 methods.
1. upper()===>To convert all characters to upper case
2. lower() ===>To convert all characters to lower case
3. swapcase()===>converts all lower case characters to upper case and all upper case characters to lower case
4. title() ===>To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.
5. capitalize() ==>Only first character will be converted to upper case and all remaining characters can be converted to lower case

In [67]:
print('Sai726'.isalnum())  
print('sai726'.isalpha()) 
print('sai'.isalpha()) 
print('sai'.isdigit()) 
print('6300'.isdigit()) 
print('abc'.islower()) 
print('Abc'.islower())  
print('abc123'.islower()) 
print('ABC'.isupper())
print('Learning python is Easy'.istitle()) 
print('Learning Python Is Easy'.istitle()) 
print(' '.isspace())

True
False
True
False
True
True
False
True
True
False
True
True

### Formatting the Strings:
We can format the strings with variable values by using replacement operator {} and
format() method

In [68]:
name='sai'
sub='python'
age=30
print("{} 's sub is {} and his age is {}".format(name,sub,age))
print("{0} 's sub is {1} and his age is {2}".format(name,sub,age))
print("{x} 's sub is {y} and his age is {z}".format(z=age,y=sub,x=name))

sai 's sub is python and his age is 30
sai 's sub is python and his age is 30
sai 's sub is python and his age is 30

#### 1. Write a program to reverse the given String

In [69]:
s=input("Enter Some String:")
print(s[::-1])

Enter Some String:MogulojuSai
iaSujolugoM

In [73]:
s=input("Enter Some String:")
print(" ".join(reversed(s)))

Enter Some String:MogulojuSai
i a S u j o l u g o M

In [74]:
s = input("Enter Some String:")
i=len(s)-1
target=" "
while i>=0:
    target = target+s[i]
    i=i-1
print(target)

Enter Some String:MogulojuSai
 iaSujolugoM

### 2. Program to reverse order of words.

In [76]:
s = input("Enter Some String:")
l=s.split()
l1=[]
i=len(l)-1
while i>=0:
    l1.append(l[i])
    i=i-1
    res=''.join(l1)
print(res)

Enter Some String:MogulojuSai
MogulojuSai

### 3. Program to reverse internal content of each word.

In [77]:
s=input("Enter Some String:")
l=s.split()
l1=[]
i=0
while i<len(l):
    l1.append(l[i][::-1])
    i=i+1
rev=' '.join(l1)
print(rev)

Enter Some String:MogulojuSai
iaSujolugoM

#### 4. Write a program to find the number of occurrences of each character present in the given String?

In [79]:
s=input("Enter the Some String:")
d={}
for x in s:
    if x in d.keys():
        d[x]=d[x]+1
    else:
        d[x]=1
for k,v in d.items():
    print("{} = {} Times".format(k,v))

Enter the Some String:MogulojuSai
M = 1 Times
o = 2 Times
g = 1 Times
u = 2 Times
l = 1 Times
j = 1 Times
S = 1 Times
a = 1 Times
i = 1 Times

In [1]:
print("------"*5,'THE END',"------"*5)

------------------------------ THE END ------------------------------

Author: [Moguloju_Sai](https://linktr.ee/Moguloju_Sai)