##  List

![Python logo]()

- If we want to represent a group of individual objects as a single entity    where insertion order preserved and duplicates are allowed, then we should go for List.
- insertion order preserved.
- duplicate objects are allowed
- heterogeneous objects are allowed.
- List is dynamic because based on our requirement we can increase the size and decrease the size.
- In List the elements will be placed within square brackets and with comma seperator.
- We can differentiate duplicate elements by using index and we can preserve insertion order by using index. Hence index will play very important role.
- Python supports both positive and negative indexes. +ve index means from left to right where as negative index means right to left
- List objects are mutable. i.e. we can change the content.

### Creation of List Objects:

#### 1. We can create empty list object as follows

In [1]:
list  = []
print(list)
print(type(list))

[]
<class 'list'>

#### 2. If we know elements already then we can create list as follows

In [2]:
list = [10,20,30,40,50]
list

[10, 20, 30, 40, 50]

#### 3. With dynamic input:

In [3]:
list = [input("Enter List:")]
print(list)
print(type(list))

Enter List:90,98,87
['90,98,87']
<class 'list'>

#### 4. With list() function:

In [1]:
s = "moguloju sai"
l=list(s)
print(l)

['m', 'o', 'g', 'u', 'l', 'o', 'j', 'u', ' ', 's', 'a', 'i']

#### 5. With split() function:

In [3]:
s="Learning Python is very very easy"
l=s.split()
print(l)
print(type(l))

['Learning', 'Python', 'is', 'very', 'very', 'easy']
<class 'list'>

Sometimes we can take list inside another list, such type of lists are called nested lists.
```python
Eg:[10,20,[30,40]]
```

### Accessing elements of List:
We can access elements of the list either by using index or by using slice operator(:)
#### 1.By using index:
- List follows zero based index. ie index of first element is zero.
- List supports both +ve and -ve indexes.
- +ve index meant for Left to Right
- -ve index meant for Right to Left
```python
list=[10,20,30,40,50,60]
-6 -5 -4 -3 -2 -1
10 20 30 40 50 60
0 1 2 3 4 5
print(list[0]) ==>10
print(list[-1]) ==>40
print(list[10]) ==>IndexError: list index out of range
```

#### 2. By using slice operator:
```python
Syntax:
list2= list1[start:stop:step]
```
- start ==>it indicates the index where slice has to start default value is 0
- stop ===>It indicates the index where slice has to end default value is max allowed index of list ie length of the list
- step ==>increment value default value is 1

In [1]:
n=[1,2,3,4,5,6,7,8,9,10]

In [2]:
print(n[2:7:2])

[3, 5, 7]

In [3]:
print(n[4::2])

[5, 7, 9]

In [4]:
print(n[3:7])

[4, 5, 6, 7]

In [5]:
print(n[8:2:-2])

[9, 7, 5]

In [6]:
print(n[4:100])

[5, 6, 7, 8, 9, 10]

### Traversing the elements of List:
The sequential access of each element in the list is called traversal.

#### 1. By using while loop:

In [4]:
n=[0,1,2,3,4,5,6,7,8,9,10]
i=0
while i<len(n):
    print(n[i],end=" ")
    i=i+1

0 1 2 3 4 5 6 7 8 9 10

#### 2. By using for loop:

In [5]:
for n1 in n:
    print(n1,end=" ")

0 1 2 3 4 5 6 7 8 9 10

#### 3. To display elements by index wise:

In [6]:
l=["A","B","C"]
x=len(l)
for i in range(x):
    print(l[i],"is available at positive index:",i,"and at negative index:",i-x)

A is available at positive index: 0 and at negative index: -3
B is available at positive index: 1 and at negative index: -2
C is available at positive index: 2 and at negative index: -1

### To get information about list:
#### 1. len():
returns the number of elements present in the list

In [7]:
n=[10,20,30,40,50]
print(len(n))

5

#### 2. count():
It returns the number of occurrences of specified item in the list

In [9]:
n=[11,2,2,2,23,4,5,5,6,]

In [10]:
print(n.count(2))

3

In [12]:
print(n.count(5))

2

#### 3. index():
returns the index of first occurrence of the specified item.

In [14]:
n = [1,2,2,2,3,3]
print(n.index(1))

0

In [15]:
n.index(3)

4

#### Note:
If the specified element not present in the list then we will get ValueError. Hence
before index() method we have to check whether item present in the list or not by using in
operator.
```python
print( 4 in n)==>False
```

### Manipulating elements of List:
#### 1. append():
We can use append() function to add item at the end of the list.

In [27]:
list=[]
list.append("A")

In [28]:
list

['A']

In [29]:
list.append("B")
list.append("C")

In [30]:
list

['A', 'B', 'C']

In [32]:
 list.append("D")

In [33]:
list

['A', 'B', 'C', 'D']

In [36]:
list.append("E")

In [37]:
list.append("F")

In [ ]:
list

In [40]:
# To add all elements to list upto 100 which are divisible by 10
a = []
for i in range(101):
    if i%10 == 0:
        a.append(i)
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [41]:
b = []
for i in range(0,101,10):
    b.append(i)
print(b)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#### 2. insert():
To insert item at specified index position

In [16]:
n=[1,2,3,4,5]
n.insert(1,888)
print(n)

[1, 888, 2, 3, 4, 5]

In [17]:
n=[1,2,3,4,5]
n.insert(10,777)
n.insert(-10,999)
print(n)

[999, 1, 2, 3, 4, 5, 777]

#### Note:
- If the specified index is greater than max index then element will be inserted at last position. 
- If the specified index is smaller than min index then element will be inserted at first position.

In [47]:
n.insert(11,10)
print(n)

[10, 1, 888, 2, 3, 4, 10, 10, 10, 5, 10]

### Differences between append() and insert()
#### append():
In List when we add any element it will come in last i.e. it will be last element.
#### insert():
In List we can insert any element in particular index number.

#### 3. extend():
To add all items of one list to another list
```python
l1.extend(l2)
all items present in l2 will be added to l1
```

In [18]:
order1=["Chicken","Mutton","Fish"]
order2=["pepsi","sprite","appy"]
order1.extend(order2)
print(order1)

['Chicken', 'Mutton', 'Fish', 'pepsi', 'sprite', 'appy']

In [19]:
order=["Chicken","Mutton","Fish"]
order.extend("Mushroom")
print(order)

['Chicken', 'Mutton', 'Fish', 'M', 'u', 's', 'h', 'r', 'o', 'o', 'm']

#### 4. remove():
We can use this function to remove specified item from the list. If the item present
multiple times then only first occurrence will be removed.

In [20]:
n=[10,20,30,40]

In [21]:
n.remove(10)
print(n)

[20, 30, 40]

In [22]:
n.remove(50)
print(n)

ValueError: list.remove(x): x not in list

#### Note:
Hence before using remove() method first we have to check specified element
present in the list or not by using in operator.

#### pop() function:
- It removes and returns the last element of the list.
- This is only function which manipulates list and returns some element.

In [23]:
n=[10,20,30,40]
print(n.pop())
print(n.pop())
print(n)

40
30
[10, 20]

#### If the list is empty then pop() function raises IndexError
```python
n=[]
print(n.pop()) ==> IndexError: pop from empty list
```
#### Note:
1. pop() is the only function which manipulates the list and returns some value
2. In general we can use append() and pop() functions to implement stack datastructure by using list,which follows LIFO(Last In First Out) order.
- In general we can use pop() function to remove last element of the list. But we can use to remove elements based on index.

1. n.pop(index)===>To remove and return element present at specified index.
2. n.pop()==>To remove and return last element of the list

In [24]:
n=[10,20,30,40,50,60]

In [25]:
n.pop()

60

In [26]:
print(n.pop(1))

20

In [27]:
print(n.pop(10))

IndexError: pop index out of range

#### Differences between remove() and pop()
##### remove()
1) We can use to remove special element from the List.
2) It canâ€™t return any value.
3) Ifspecial element not available then we get VALUE ERROR
##### pop()
1) We can use to remove last element from the List.
2) It returned removed element.
3) If List is empty then we get Error.

List objects are dynamic. i.e based on our requirement we can increase and decrease the size.
- append(),insert() ,extend() ===>for increasing the size/growable nature
- remove(), pop() ======>for decreasing the size /shrinking nature

#### reverse():
We can use to reverse() order of elements of list.

In [28]:
n.reverse

In [29]:
n.reverse()

In [30]:
n

[50, 40, 30, 10]

#### sort() function:
In list by default insertion order is preserved. If want to sort the elements of list
according to default natural sorting order then we should go for sort() method.
- For numbers ==>default natural sorting order is Ascending Order
- For Strings ==> default naturalsorting order is Alphabetical Order

In [32]:
n.sort()

In [33]:
n

[10, 30, 40, 50]

In [34]:
s=["Dog","Banana","Cat","Apple"]
s.sort() 
print(s)

['Apple', 'Banana', 'Cat', 'Dog']

#### Note:
 To use sort() function, compulsory list should contain only homogeneous elements.
otherwise we will get TypeError

In [35]:
n=[20,10,"A","B"]
n.sort()
print(n)

TypeError: '<' not supported between instances of 'str' and 'int'

#### Note: 
In Python 2 if List contains both numbers and Strings then sort() function first sort
numbers followed by strings

In [36]:
n=[20,"B",10,"A"]
n.sort()
print(n)

TypeError: '<' not supported between instances of 'str' and 'int'

##### To sort in reverse of default natural sorting order:
We can sort according to reverse of default natural sorting order by using
reverse=True argument.

In [37]:
n=[40,10,30,20]
n.sort()
print(n)

[10, 20, 30, 40]

In [38]:
n.sort(reverse=True)
print(n)

[40, 30, 20, 10]

In [39]:
n.sort(reverse=False)
print(n)

[10, 20, 30, 40]

#### clear():
We can use clear() function to remove all elements of List.

In [40]:
n=[10,20,30,40]
print(n)

[10, 20, 30, 40]

In [41]:
n.clear()
print(n)

[]

### Nested Lists:
Sometimes we can take one list inside another list. Such type of lists are called nested
lists.

In [42]:
n=[10,20,[30,40]]
print(n)

[10, 20, [30, 40]]

In [43]:
print(n[0])

10

In [61]:
print(n[2])

[30, 40]

In [44]:
print(n[2][0])

30

In [45]:
print(n[2][1])

40

#### Note:
 We can access nested list elements by using index just like accessing multi
dimensional array elements.

#### List Comprehensions:
It is very easy and compact way of creating list objects from any iterable objects(like
list,tuple,dictionary,range etc) based on some condition.
```python
Syntax:
list=[expression for item in list if condition]
```

In [46]:
s=[ x*x for x in range(1,11)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
v=[2**x for x in range(1,6)]
print(v)

[2, 4, 8, 16, 32]

In [48]:
m=[x for x in s if x%2==0]
print(m)

[4, 16, 36, 64, 100]

In [49]:
words=["Balaiah","Nag","Venkatesh","Chiranjeevi"]
l=[w[0] for w in words]
print(l)

['B', 'N', 'V', 'C']

## Tuple

![Python logo]()

 1. Tuple is exactly same as List except that it is immutable. i.e once we creates Tuple object, we cannot perform any changes in that object. Hence Tuple is Read Only version of List.
2. If our data is fixed and never changes then we should go for Tuple.
3. Insertion Order is preserved
4. Duplicates are allowed
5. Heterogeneous objects are allowed.
6. We can preserve insertion order and we can differentiate duplicate objects by using index.
- Hence index will play very important role in Tuple also.
- Tuple support both +ve and -ve index.
- +ve index means forward direction(from left to right) and
- -ve index means backward direction(from right to left)
7. We can represent Tuple elements within Parenthesis and with comma separator.Parenthesis are optional but recommended to use.
```python
t=10,20,30,40
print(t)................ (10, 20, 30, 40)
print(type(t)).........<class 'tuple'>
```
#### Note:
We have to take special care about single valued tuple. compulsory the value
should ends with comma, otherwise it is not treated as tuple.

In [50]:
t=(10)
t1=10
t2=10,
print(type(t))
print(type(t1))
print(type(t2))

<class 'int'>
<class 'int'>
<class 'tuple'>

### Tuple creation:
##### 1. creation of empty tuple

In [51]:
t=()
print(type(t))

<class 'tuple'>

#### 2. creation of single valued tuple ,parenthesis are optional,should ends with comma

In [55]:
t1=(10,)
t2=10,
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

#### 3. creation of multi values tuples & parenthesis are optional

In [56]:
t1=10,20,30
t2=(10,20,30)
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

#### 4. By using tuple() function:

In [57]:
list=[10,20,30]
t=tuple(list) 
print(t)

(10, 20, 30)

In [58]:
t1=tuple(range(10,20,2)) 
print(t1)

(10, 12, 14, 16, 18)

### Accessing elements of tuple:
We can access either by index or by slice operator

#### 1. By using index:

In [1]:
t=(10,20,30,40,50,60)

In [2]:
print(t[0])

10

In [3]:
print(t[-1])

60

In [4]:
print(t[100])

IndexError: tuple index out of range

#### 2. By using slice operator:

In [5]:
print(t[2:5])

(30, 40, 50)

In [6]:
print(t[2:100])

(30, 40, 50, 60)

In [8]:
print(t[::2])

(10, 30, 50)

### Tuple vs immutability:
- Once we creates tuple, we cannot change its content.
- Hence tuple objects are immutable.

```python
t=(10,20,30,40)
t[1]=70 TypeError: 'tuple' object does not support item assignment
```

### Mathematical operators for tuple:
We can apply + and * operators for tuple
##### 1. Concatenation Operator(+):
It concatenates the tuple mentioned on either side of the operator.

In [10]:
t1 = (10,20,30,40)
t2 = (50,60,70,80)
t3 = t1+t2
print(t3)

(10, 20, 30, 40, 50, 60, 70, 80)

#### 2. Multiplication operator or repetition operator(*)
The repetition operator enables the tuple elements to be repeated multiple times.

In [11]:
t1=(10,20,30)
t2=t1*3
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

#### Important functions of Tuple:
###### 1. len():
To return number of elements present in the tuple

In [12]:
t = (10,20,30,40)
print(len(t))

4

###### 2. count():
To return number of occurrences of given element in the tuple.

In [13]:
print(t.count(10))

1

###### 3. index():
returns index of first occurrence of the given element.
- If the specified element is not available then we will get ValueError.

In [14]:
print(t.index(10))

0

In [15]:
print(t.index(30))

2

###### 4. sorted(): 
To sort elements based on default naturalsorting order.

In [16]:
t=(40,10,30,20)
t1=sorted(t)

In [17]:
print(t)

(40, 10, 30, 20)

In [18]:
print(t1)

[10, 20, 30, 40]

###### 5. min() and max() functions:
These functions return min and max values according to default naturalsorting
order.

In [19]:
t = (40,10,30,20)
print(min(t))
print(max(t))

10
40

###### 6. cmp():
- It compares the elements of both tuples.
- If both tuples are equal then returns 0
- If the first tuple is less than second tuple then it returns -1
- If the first tuple is greater than second tuple then it returns +1

In [20]:
t1=(10,20,30)
t2=(40,50,60)
t3=(10,20,30)

In [22]:
print(cmp(t1,t2))

NameError: name 'cmp' is not defined

###### Note:
cmp() function is available only in Python2 but not in Python 3

#### Tuple Packing and Unpacking:
- We can create a tuple by packing a group of variables.
```python
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t) ............(10, 20, 30, 40)
```
Here a,b,c,d are packed into a tuple t. This is nothing but tuple packing.
- Tuple unpacking is the reverse process of tuple packing
- We can unpack a tuple and assign its values to different variables.
```python
t=(10,20,30,40)
a,b,c,d=t
print("a=",a,"b=",b,"c=",c,"d=",d)................... a= 10 b= 20 c= 30 d= 40
```
##### Note:
At the time of tuple unpacking the number of variables and number of values
should be same. ,otherwise we will get ValueError.
```python
t=(10,20,30,40)
a,b,c=t ....................ValueError: too many values to unpack (expected 3)
```

#### Tuple Comprehension:
Tuple Comprehension is not supported by Python.

In [24]:
t= ( x**2 for x in range(1,6))
print(type(t))
for x in t:
    print(x)

<class 'generator'>
1
4
9
16
25

In [25]:
# Write a program to take a tuple of numbers from the keyboard and print its sum and average?
t=eval(input("Enter Tuple of Numbers:"))
l=len(t)
sum=0
for x in t:
    sum=sum+x
print("The Sum=",sum)
print("The Average=",sum/l)

Enter Tuple of Numbers:10,20,30,40
The Sum= 100
The Average= 25.0

#### Differences between List and Tuple:
- List and Tuple are exactly same except small difference: List objects are mutable whereas Tuple objects are immutable.
- In both cases insertion order is preserved, duplicate objects are allowed, heterogenous objects are allowed, index and slicing are supported

#### Inserting elements in a tuple
In Python, tuples are immutable i.e. once created we cannot change its contents. But
sometimes we want to modify the existing tuple; in that case we need to create a new tuple
with updated elements only from the existing tuple.
###### Append an element in Tuple at end
- Suppose we have a tuple i.e.
```python
# Create a tuple
tupleObj = (12 , 34, 45, 22, 33 )
```
- Now to append an element in this tuple, we need to create a copy of existing tuple and then add new element to it using + operator i.e.
```python
# Append 19 at the end of tuple
tupleObj = tupleObj + (19 ,)
```
- We will assign the new tuple back to original reference, hence it will give an effect that new element is added to existing tuple.
- Contents of tuple will be now, (12, 34, 45, 22, 33, 19)
- A new Element is appended at the end of tuple.

In [26]:
t=eval(input("enter a tuple values"))
print("t=",t)
print("id(t)=",id(t))
t1=eval(input("enter new tuple to append"))
print("t1=",t1)
print("id(t1)=",id(t1))
t=t+t1
print("t=",t)
print("id(t)=",id(t))

enter a tuple values12,23,34
t= (12, 23, 34)
id(t)= 1666488672960
enter new tuple to append12.3,45,67,
t1= (12.3, 45, 67)
id(t1)= 1666488836160
t= (12, 23, 34, 12.3, 45, 67)
id(t)= 1666488658496

#### Insert an element at specific position in tuple
To insert an element at a specific index in the existing tuple we need to create a new
tuple by slicing the existing tuple and copying contents from it.
- Suppose we have a tuple i.e
```python
# Create a tuple 
tupleObj = (12 , 34, 45, 22, 33 )
```
- As indexing starts from 0 in tuple, so to insert an element at index n in this tuple, we will create two sliced copies of existing tuple from (0 to n) and (n to end) i.e.
```python
# Sliced copy containing elements from 0 to n-1
tupleObj[ : n]
# Sliced copy containing elements from n to end
tupleObj[n : ]
```
- Now join these two sliced copies with new elements in between i.e.
```python
n = 2
# Insert 19,20 in tuple at index 2
tupleObj = tupleObj[ : n ] + (19 ,20) + tupleObj[n : ]
```
- A new Element is inserted at index n. (12, 34, 19, 20,45, 22, 33)

In [28]:
t=eval(input("enter a tuple values"))
print("t=",t)
print("id(t)=",id(t))
new=eval(input("enter a new tuple value to insert"))
print("new=",new)
n=int(input("enter position to insert a new elements:"))
t=t[0:n]+new+t[n:]
print("t=",t)
print("id(t)=",id(t))

enter a tuple values11,26
t= (11, 26)
id(t)= 1666488499008
enter a new tuple value to insert11,26
new= (11, 26)
enter position to insert a new elements:2
t= (11, 26, 11, 26)
id(t)= 1666488311280

#### Delete an element at specific index in tuple
- Suppose we have a tuple i.e.
```python
# Create a tuple
tupleObj = (12 , 34, 45, 22, 33 )
```
- To delete the element at index n in tuple we will use the same slicing logic as above, but we will slice the tuple from from (0 to n-1) and (n+1 to end) i.e.
```python
# Sliced copy containing elements from 0 to n-1
tupleObj[ : n]
# Sliced copy containing elements from n to end
tupleObj[n + 1 : ]
```
- Delete the element at index 2, the above sliced copies contains existing element at index n. Now join these two sliced copies i.e
```python
tupleObj = tupleObj[ : n ] + tupleObj[n+1 : ]
```
- new tuple after deleting element at index 2 is : (12, 34, 22, 33)

In [30]:
t=eval(input("enter a tuple values"))
print("t=",t)
print("id(t)=",id(t))
n=int(input("enter position to delete an element:"))
t=t[:n]+t[n+1:]
print("t=",t)
print("id(t)=",id(t))

enter a tuple values11,26,11,26
t= (11, 26, 11, 26)
id(t)= 1666488549600
enter position to delete an element:2
t= (11, 26, 26)
id(t)= 1666488543104

##  Set Data Structure
- If we want to represent a group of unique values as a single entity then we should go for set.
- Duplicates are not allowed.
- Insertion order is not preserved. But we can sort the elements.
- Indexing and slicing not allowed for the set.
- Heterogeneous elements are allowed.
- Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.
- We can represent set elements within curly braces and with comma separation
- We can apply mathematical operations like union,intersection,difference etc on set objects.

In [65]:
print(t)

(10, 20, 30, 40)

In [66]:
t=10,

In [67]:
type(t)

tuple

In [68]:
t

(10,)

In [72]:
t = 10,20,30,40
id(t)

1464212730832

In [73]:
t[1]=1

TypeError: 'tuple' object does not support item assignment

In [74]:
len(t)

4

In [75]:
t = 10,20,30,40
id(t)

1464212730992

In [76]:
s={}
print(s)
type(s)

{}

dict

In [77]:
s=set()

In [78]:
type(s)

set

In [79]:
s = {10,20,30}

In [80]:
s

{10, 20, 30}

In [81]:
s.add(40)

In [82]:
s

{10, 20, 30, 40}

In [88]:
l=[40,50,60,10]
s.update(l)

In [89]:
s

{0, 1, 2, 3, 4, 10, 20, 30, 40, 50, 60}

In [90]:
s.discard(10)

In [91]:
s

{0, 1, 2, 3, 4, 20, 30, 40, 50, 60}

In [92]:
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [93]:
print(x.intersection(y))

{40, 30}

In [94]:
print(x&y)

{40, 30}

In [95]:
print(x-y)

{10, 20}

In [96]:
print(y-x)

{50, 60}

In [97]:
print(x^y)

{10, 50, 20, 60}

## Dictionary

![Python logo]()

- We can use List, Tuple and Set to represent a group of individual objects as a single entity.
- If we want to represent a group of objects as key-value pairs then we should go for Dictionary.
 
- Duplicate keys are not allowed but values can be duplicated.
- Heterogeneous objects are allowed for both key and values.
- insertion order is not preserved
- Dictionaries are mutable
- Dictionaries are dynamic
- indexing and slicing concepts are not applicable
- ***Note:*** In C++ and Java Dictionaries are known as "Map" where as in Perl and Ruby it is known as "Hash"

In [98]:
d={}

In [99]:
d[100]="sai"
d[200]="jaya"

In [100]:
d["300"]="shashi"

In [101]:
d

{100: 'sai', 200: 'jaya', '300': 'shashi'}

In [102]:
d[100]

'sai'

In [105]:
del d[300]

KeyError: 300

In [106]:
d.keys()

dict_keys([100, 200, '300'])

In [1]:
print("-------"*5,'THE END',"-------"*5)

----------------------------------- THE END -----------------------------------

Author: [Moguloju_Sai](https://linktr.ee/Moguloju_Sai)